*{
    margin: 0;
}
body{
    color: white;
    font-family: sans-serif;
}
.img{
    background-image: url(images/netfliximg.jpg);
    width: 100%;
    height: 700px;

}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.322); 
    display: flex;
    justify-content: space-between;
}
.hometext{
    text-align: center;
    padding-top: 200px;
}
.h3home{
    width: 900px;
    text-align: center;
    margin-top: -85px;
    padding-left: 201px;
    font-weight: 900;
    font-size: 3rem;
}
.p1home{
   
    font-size: 1.5rem;
    font-weight: 250;
    text-align: center;
}
.p2home{
  
    font-size: 1.5rem;
    font-weight: 250;
    text-align: center;
}

.logo{
    width: 148px;
    height: auto;
    margin-left: 166px;
   margin-top: 23px;
    
    position: absolute;
}
.btn{
    width: 120px;
    height: 25px;
   
    display: flex;
    margin-right: 262px;
    margin-top: 28px;
   
  
}
.sign{
    width: auto;   
     margin-left: 33px;
     padding-inline: 20px;
    background-color: red;
    color: rgba(245, 222, 179, 0.747);
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    
    word-spacing:5px;
    min-height: 2.25rem;
    padding-left: o.22rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    
}.btn1{
    background-color: rgba(10, 10, 10, 0.199);
    color:rgba(255, 255, 255, 0.658) ;
    padding: 0.45rem 1rem;
    line-height: 1.25rem;
    border:0.45 solid rgba(124, 122, 122, 0.185);
border-radius: 3px;
    height:29px;
   

}
.div2{
    height: 5px;
    width: 100%;
    background-color: rgba(97, 95, 95, 0.685);
    z-index: 2px;
}
.div3{
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 550px;
   text-align: left;
    padding-left: 80px;
    padding-top: 150px;
   
    }
    .h3text{
        text-align: left;
        font-size: 3rem;
        font-weight: 900;

    }
    .ptext{
        text-align: left;
        font-size: 1.8rem;
        font-weight: 500;
    }

.tv-content{
   
   
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    display: table-row;
    padding-top: 100px;
    position: relative;
    margin-right: 144px;

}
.tv{
    width: 523px;
    height: auto;
    z-index: 5px;
    padding-top: -250px;
    position: absolute;
    margin-left: -450px;
    margin-top: -69px;
}
.dwn{
    width: 100%;
    height: 600px;
    background-color: black;
}
.phn{
    width: 489px;
    height: 365px;
    display: flex;
}
.phnimg{
    width: 500px;
    height: 365px;
    padding-left: 156px;
    padding-top: 70px;  
}
.dtext{
   float: right;
   text-align: left;
    width: 300px;
    height: 200px;
    margin-left: -20px;
}
.h2dwn{
    padding-right: 50px;
    padding-bottom: 100px; 
       font-size: 3rem;
    font-weight: 900;
    margin-left: -390px;
    margin-top: -209px;
}
.pdwn{
    text-align: left;
    margin-left:-348px;
    margin-top: -88px;
    font-size: 1.6rem;
    font-weight: 450;
}
.h2tab{
    width: 700px;
    height: auto;
    text-align: center;
    font-size: 3rem;
    font-weight:900 ;
    padding-left: 50px;
    padding-top: 170px;
}
.ptab{
    width: 475px;
    height: auto;
padding-left: 175px;
    font-size: 1.6rem;
    font-weight: 500;
}
.macimg{
    display: flex;
    margin-top: 127px;
    margin-right: 238px;
   
  
}
.macvid{
   
    position:relative ;

}
.imgmac{
    width: 529px;
    height: 383px;
    position: absolute;
    margin-left: -95px;
    margin-top: -22px;
}
.imgchild{
    margin-left: 170px;
    margin-top: 97px;
}
.cld{
    width: 510px;
    height: auto;
}
.textchild{
    margin-top: 50px;
    margin-left:-100px;
}
.h25{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
    font-weight:900 ;
    padding-top: 68px;
}
.div2s{
    width: 100%;
    height: 800px;
    background-color: black
}
.div3s{
    width: 100%;
    height: 450px;
    background-color: black
}
.list{
    text-align: left;
    margin-left: 300px;
    margin-top: 20px;
    font-weight: 500;
    font-size:1.8rem;
}
.ptabs{
    width: 900px;
    height: auto;
    padding-left:0px;
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;

}
.bar{
    width: 390px;
    height: 51px;
    background-color: rgba(31, 30, 30, 0.575);
    margin-left: 340px;
    color: #fff;
    margin-top: 30px;
    padding-left: 10px;
    font-size: 1.2rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 4px;
   }
   .barbtn{
    width: 188px;
    height: 58px;
    background-color: #e72d2d;
    font-size: 1.4rem;
    font-family: sans-serif;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
   }
   .ul{
    width: 900px;
    height: 40px;
    background-color: black;
    padding-left: 50px;
    margin-left: 90px;
    padding-top:80px;

   }
   .sq{
    width:150px;
    height: 70px;
    background-color: black;
    float: right;
    margin-right: 287px;
    margin-top: 50px;
    list-style-type: none;
    text-decoration: underline;
    color:  #ffffff9c;
   }
   .bq{
    width: 180px;
    height: 70px;
    background-color: black;
    float: right;
    text-decoration: underline;
    margin-right: 80px;
    margin-top: 50px;
    color:  #ffffff9c;
    
   }
   .tq{
    width: 180px;
    height: 70px;
    background-color: black;
    float: right;
    text-decoration: underline;
    margin-right: 50px;
    margin-top: 50px;
    color:  #ffffff9c;
   }
   .aq{
    width: 180px;
    height: 70px;
    background-color: black;
    float: right;
    text-decoration: underline;
    margin-right: 50px;
    margin-top: 50px;
    color:  #ffffff9c;

   }
   .ebtn{
    margin-left:200px;
    margin-top: 200px;
    padding-bottom: 5px;
   }
   .net{
    font-size: small;
    margin-top: 20px;
    margin-left: 220px;
    color: #ffffff9c;
   }

   

   





